@{
    ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard">Wedding Planner</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <h2>@ViewBag.Wedding.WedderOne & @ViewBag.Wedding.WedderTwo&#39s Wedding</h2>
    <div class="container-fluid">
        <h3>Date: @ViewBag.Wedding.Date.ToString("MMMM dd, yyyy")</h3>
        <h3>Guests:</h3>
        <ul>
            @foreach(var guest in @ViewBag.Guests)
            {
                <li>@guest.User.FirstName @guest.User.LastName</li>
            }
        </ul>
    </div> 
</div>