<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>
    <body>
        <div id="container">

            <h3>Fullness: @ViewBag.fullness</h3>
            <h3>Happiness: @ViewBag.happiness</h3>
            <h3>Meals: @ViewBag.meals</h3>
            <h3>Energy: @ViewBag.energy</h3>

            <p id="status">@ViewBag.message</p>

            <a href="/feed"><button>Feed</button></a>
            <a href="/play"><button>Play</button></a>
            <a href="/work"><button>Work</button></a>
            <a href="/sleep"><button>Sleep</button></a>
            
            @{
                int h = @ViewBag.happiness;
                int f = @ViewBag.fullness;
                int e = @ViewBag.energy;
                if((f >= 100 && h >= 100 && e >= 100) || (f <= 0) || (h <= 0)) {
                    <a href="/"><button>Reset</button></a>
                }
            }

        </div>
   </body>
</html>